
 body {
    background-image: url("https://media.giphy.com/media/pqjYpY6Kaieu1q3c4f/source.gif");
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    

  }
 .jumbotron {
    
    height: 100%;
    opacity: 0.6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 30%;
    
  }

  .titlebox
  {
      
      color: black;
  }
  #timer
  {
      color: red;
  }
  #image1
  {
      border-style: solid;
      border-color: red;
      border-width: medium;
      position: sticky;
  }

  #image2
  {
      border-style: solid;
      border-color: #067fb8;
      border-width: medium;
      position: relative;
  }
  .questions
  {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  #button
  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .card
  {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
  }

.row
{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    opacity: 0.8;
}